
.navbar-brand{
    width: 60px;
    height: 100%;
}
#navbar .nav-item .active{
    border-bottom: 2px solid #FFC107;
    color: #FFC107;
}
#cartnumber{
    margin-top: -41px;
    margin-left: 23px;
    color: white;
    background-color: red;
    border-radius: 50px;
    font-weight: 550;
    padding: 0px 4px;
    font-size: 10px;
}
.badge{
    font-size: 10px;
    border-radius: 50px;
    font-weight: 100;
    padding: 2px 5px;
}