
#hero{
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
#hero-left{
    line-height: 1.1;
}

#hero-left p{
    color: #171717;
    font-size: 70px;
    font-weight: 700;
}
#hand-hand-icon #img{
    width: 65px;
}
#hero-btn img{
    width: 30px;
}
#hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-right img{
    width: 300px;
}

@media only screen and (max-width: 992px){
    #hero-left p{
        font-size: 50px;
    }
    #hero-right img{
        width: 230px;
    }
}

@media only screen and (max-width: 768px){
    #hero-left p{
        font-size: 30px;
    }
    #hand-hand-icon #img{
        width: 45px;
    }
    #hero-right img{
        width: 150px;
    }
}

@media only screen and (max-width: 576px){
    #hero-left p{
        font-size: 24px;
    }
    #hand-hand-icon #img{
        width: 30px;
    }
    #hero-btn img{
        width: 24px;
    }
    #hero-right img{
        width: 100px;
    }
}